name: Rclone for GoogleDrive

on:
  release:
    types: [published]
  schedule:
    - cron: 0 */6 * * *

jobs:
  rclone:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: rclone
      uses: wei/rclone@v1
      env:
        RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
      with:
        args: "sync wuxian:Storage bolan: --drive-acknowledge-abuse --drive-server-side-across-configs --transfers 16"
